amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
Django==2.1.2
django-cors-headers==2.4.0
django-debug-toolbar==1.10.1
django-filter==2.0.0
django-jenkins==0.110.0
djangorestframework==3.8.2
drf-base64==0.9.4
drf-schema-adapter==0.9.77
factory-boy==2.11.1
Faker==0.9.1
Genshi==0.7.1
Inflector==2.0.12
kombu==4.2.1
levit-report==0.9.17
lxml==4.2.5
Pillow==5.3.0
python-dateutil==2.7.3
pytz==2018.5
relatorio==0.8.1
six==1.11.0
sqlparse==0.2.4
text-unidecode==1.2
vine==1.1.4
zipstream==1.1.4
